@import '_variables.scss';
@import '_colors.scss';
@import '_mixins.scss';

.block_wrap {
	width: 100%;
	background-color: $mountain_meadow;	

	header {
		display: flex;
		align-items: center;
		height: 50px;
		@include content_width;

		.header_contact_info {
			flex: 2;
			margin-left: auto;
		}
		.header_login_menu {
		}

		span {
			@include span_icon;
		}
	}

	a {
		@include link_style;
		margin-right: 35px;
		font-size: 14px;

		&.login_menu {
			margin-right: 25px;
		}
	}
}
@media (max-width: 749px) {
	header {
		flex-direction: column;
		
		.header_contact_info {
			margin: auto;
		}
	}
}

@media (max-width: 453px) {
	.block_wrap {
		a.login_menu {
			margin-right: 10px;
		}
	}
}