@import '_variables.scss';
@import '_colors.scss';
@import '_mixins.scss';

menu {
	height: 90px;
	display: flex;
	align-items: center;
	@include content_width;

	p {
		font-size: 48px;
		
		&:first-letter{
			color: $mountain_meadow;
			font-weight: 900;
		}
	}

	ul {
		& li {
			display: inline-block;
			& a {
				@include link_style;
				color: black;
				font-weight: 900;
				font-size: 24px;
				margin-left: 30px;
				text-transform: uppercase;

				:hover {
					color: $mountain_meadow;
				};
			}
		}
	}
}